<main class="main">
  <div class="content">
    <form [formGroup]="contactForm">
      <h3>grupos y artistas</h3>
      <div>
        <label for="tieneGrupo">¿Forma parte de un GRUPO?</label>
        <input type="radio" value="no" id="no" name="tieneGrupo" formControlName="tieneGrupo" checked /> no
        <input type="radio" value="si" id="si" name="tieneGrupo" formControlName="tieneGrupo" /> si
      </div>
      <div *ngIf="this.contactForm.get('tieneGrupo')?.value=='si'">
        <p>
          Nombre del grupo: <input type="text" id="nombreGrupo" name="nombreGrupo" formControlName="nombreGrupo" />
        </p>
        <p>
          Fecha formación del grupo: <input type="date" id="fechaGrupo" name="fechaGrupo" formControlName="fechaGrupo" />
        </p>

        <h3>¿Cual es el genero musical del grupo?</h3>
        <div class="genero-musical">
          <div *ngFor="let item of generoMusical" class="genero-item">
            <!--<input type="checkbox" [(ngModel)]="item.checked" formControlName="estiloMusical" id="item"  /> <label for="item">{{ item }}</label>-->
            <input type="checkbox" [(ngModel)]="item.checked" formControlName="estiloMusical" /> {{ item.title }}


          </div>
        </div>

        <div>
          <h4>Campos seleccionados:</h4>
          <div *ngFor="let item of result">
            {{ item.title }}
          </div>
        </div>

      </div>
    </form>
  </div>
</main>

