<head>

</head>

<body>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p>
      <input type="text" placeholder="nombres" id="nombreD" formControlName="nombres" />
    </p>
    <p>
      <input type="date" id="fechaD" formControlName="fechas" />
    </p>
    <p>
      <input type="text" placeholder="artistas" id="artistaD" formControlName="artistas" />
    </p>
    <p>
      <input type="text" placeholder="cancion" id="cancion" formControlName="cancion" />
      <input type="button" value="botonico" (click)="addCancion()" id="botonico" />
    </p>
      <ul id="canciones">
      </ul>
      <p>
        <button type="submit">submit</button>
      </p>
  </form>
</body>
