
<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="logo">
          <img src="../assets/img/icono.jpg" alt="Logo" width="75" height="75" />
        </div>
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" aria-current="page" href="../index.html">DISCOS</a></li>
              <li class="nav-item"><a class="nav-link" href="#">ARTISTAS</a></li>
              <li class="nav-item"><a class="nav-link" href="#">GRUPO</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Enlace</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="./signin.html">Iniciar sesión</a></li>
              <li class="nav-item"><a class="nav-link" href="./form.html">Regístrate</a></li>
            </ul>
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Busca aquí..." aria-label="Search" />
            <button class="btn btn-dark" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
      <h1 class="display-4">HIBERUS.FM</h1>
      <p>Los mejores discos para tu larga jornada de programacion.</p>
    </div>
  </div>
</header>

<div class="pag">

  <div class="container-fluid">
    <div class="row">
      <h1 class="titulo"><b>Formulario supergenial</b></h1>

      <!--div1-->

      <div class="col-lg-3" id="div1">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/img/disco.jpg" class="d-block w-100" width="500" height="500" alt="../assets/img/disco2.jpg">
            </div>

            <div class="carousel-item">
              <img src="../assets/img/disco2.jpg" class="d-block w-100" sizes="500%" height="500" alt="../assets/img/disco 3.jpg">
            </div>

            <div class="carousel-item">
              <img src="../assets/img/disco_3.jpg" class="d-block w-100" sizes="500%" height="500" alt="../assets/img/disco.jpg">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


      <!--div2-->

      <div class="col-lg-6" id="div2">

        <form class="align-self-center" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="nombres" class="form-control" id="nombreD" formControlName="nombres" />
            <div *ngIf="contactForm.get('nombres')?.invalid && (contactForm.get('nombres')?.dirty || contactForm.get('nombres')?.touched)">
              <div *ngIf="contactForm.get('nombres')?.errors?.['required']">El nombre de disco es requerido.</div>
              <div *ngIf="contactForm.get('nombres')?.errors?.['minlength']">El nombre de disco debe tener al menos 3 caracteres.</div>
              <div *ngIf="contactForm.get('nombres')?.errors?.['maxlength']">El nombre de disco no puede tener más de 50 caracteres.</div>
            </div>

            <input type="date" id="fechaD" class="form-control" formControlName="fechas" />
            <div *ngIf="contactForm.get('fechas')?.invalid && (contactForm.get('fechas')?.dirty || contactForm.get('fechas')?.touched)">
              <div *ngIf="contactForm.get('fechas')?.errors?.['required']">La fecha de lanzamiento es requerida.</div>
              <div *ngIf="contactForm.get('fechas')?.errors?.['fechaFutura']">La fecha de lanzamiento no puede ser en el futuro.</div>
            </div>

            <input type="text" placeholder="artistas" id="artistaD" class="form-control" formControlName="artistas" />
            <div *ngIf="contactForm.get('artistas')?.invalid && (contactForm.get('artistas')?.dirty || contactForm.get('artistas')?.touched)">
              <div *ngIf="contactForm.get('artistas')?.errors?.['required']">El nombre artista es requerido.</div>
              <div *ngIf="contactForm.get('artistas')?.errors?.['minlength']">El nombre artista debe tener al menos 3 caracteres.</div>
              <div *ngIf="contactForm.get('artistas')?.errors?.['maxlength']">El nombre artista no puede tener más de 50 caracteres.</div>
            </div>


            <input type="text" placeholder="cancion" id="cancion" class="form-control" formControlName="cancion" /><br />
            <input type="button" value="añadir cancion" (click)="addCancion()" id="botonico" />
   

          <ul id="canciones">
          </ul>

     
            <button type="submit">Registrar Disco</button>
       

        </form>
      </div>

      <!--div3-->

      <div class="col-lg-3" id="div3">
        <div id="carouselExampleFade2" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/img/disco.jpg" class="d-block w-100" width="500" height="500" alt="../assets/img/disco2.jpg">
            </div>
            <div class="carousel-item">
              <img src="../assets/img/disco2.jpg" class="d-block w-100" width="500" height="500" alt="../assets/img/disco 3.jpg">
            </div>
            <div class="carousel-item">
              <img src="../assets/img/disco_3.jpg" class="d-block w-100" width="500" height="500" alt="../assets/img/disco.jpg">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

